/**
 * AppBuckets UI
 *
 * _Badge @ src/styles/elements/_badge.scss
 *
 * Defined at 12 ott 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 *
 *
 */
@use 'sass:math';


/******
    Badge Element
******/
.badge {
  display: inline-block;
  padding: math.div($badge-base-size, 2);
  border-radius: $border-radius-rounded;

  &.with-content {
    padding-top: math.div($badge-base-size, 4);
    padding-bottom: math.div($badge-base-size, 4);

    > .content {
      font-size: $badge-font-size;
      color: inherit;
      line-height: 1.25;

      > .icon {
        margin-right: 0;
      }
    }
  }

  // ----
  //  Badge Variation
  // ----
  @include color-property-variation(
    $base-color: $badge-background-color,
    $properties-list: background-color,
    $use-brands: $generate-button-brands-variation,
    $use-ui: $generate-button-ui-variation
  )
}
