/**
 * AppBuckets UI
 *
 * _Colors @ src/styles/_core/_colors.scss
 *
 * Defined at 05 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Colors Variable Declaration for entire ReactBucket UI Framework
 *
 */


/******
    Blacks
******/
$black: hsl(0, 0%, 4%) !default;


/******
    Whites
******/
$transparent: rgba(255, 255, 255, 0) !default;

$white: hsl(212, 10%, 100%) !default;
$white-shade: hsl(212, 10%, 96%) !default;
$white-shade-2: hsl(212, 10%, 93%) !default;


/******
    Text and Typography Color
******/
$text: rgba(61, 66, 81, .95) !default;
$text-secondary: rgba(61, 66, 81, .6) !default;
$text-contrast: rgba(255, 255, 255, .95) !default;
$text-secondary-contrast: rgba(255, 255, 255, .6) !default;


/******
    Greys
******/
$cloud-light: hsl(212, 10%, 91%) !default;
$cloud: hsl(212, 10%, 76%) !default;
$cloud-dark: hsl(212, 10%, 61%) !default;


/******
    Base Colors
******/
$blue: hsl(226, 48%, 54%) !default;
$teal: hsl(170, 66%, 58%) !default;
$green: hsl(121, 44%, 54%) !default;
$yellow: hsl(41, 93%, 55%) !default;
$orange: hsl(20, 100%, 65%) !default;
$red: hsl(357, 72%, 58%) !default;
$pink: hsl(330, 100%, 65%) !default;
$purple: hsl(260, 52%, 62%) !default;


/******
    UI Colors
******/
$primary: $blue !default;
$primary-shade: color-shade($primary) !default;
$primary-tint: color-tint($primary) !default;
$warning: $orange !default;
$warning-shade: color-shade($warning) !default;
$warning-tint: color-tint($warning) !default;
$info: $teal !default;
$info-shade: color-shade($info) !default;
$info-tint: color-tint($info) !default;
$danger: $red !default;
$danger-shade: color-shade($danger) !default;
$danger-tint: color-tint($danger) !default;
$success: $green !default;
$success-shade: color-shade($success) !default;
$success-tint: color-tint($success) !default;


/******
    Color Mapping
******/
$ui-colors-map: (
  'hidden': $transparent,
  'text' : $text,
  'text-secondary' : $text-secondary,
  'black' : $black,
  'white' : $white,
  'white-shade' : $white-shade,
  'white-shade-2' : $white-shade-2,
  'blue' : $blue,
  'teal' : $teal,
  'green' : $green,
  'yellow' : $yellow,
  'orange' : $orange,
  'red' : $red,
  'pink' : $pink,
  'purple' : $purple,
  'cloud-light' : $cloud-light,
  'cloud' : $cloud,
  'cloud-dark' : $cloud-dark
);

$ui-brand-colors-map: (
  'primary' : $primary,
  'warning' : $warning,
  'info' : $info,
  'success' : $success,
  'danger' : $danger
);

$ui-color-map: map-merge($ui-colors-map, $ui-brand-colors-map);
