/**
 * AppBuckets UI
 *
 * _Variables @ src/styles/_core/_variables.scss
 *
 * Defined at 05 giu 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 * Variables declaration for entire ReactBucket UI Framework
 *
 */

/******
    HTML & Body Variables
******/
$body-font: $font-family-sans-serif !default;
$body-font-size: $base-font-size !default;
$body-font-weight: $regular !default;
$body-line-height: $line-height !default;
$body-color: $text !default;
$body-background: $white-shade !default;


/******
    Animation Variables
******/

// ----
//  Set Animation Ease
// ----
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

$ease-in-circle: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-circle: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-circle: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$swift-ease-out: cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-in: cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in-out: cubic-bezier(0.35, 0, 0.25, 1);

$swift-ease-out-bounce: cubic-bezier(0.35, 0.15, 0.45, 1.25);

// ----
//  Set transition speed
// ----
$transition-speed-fast: .15s !default;
$transition-speed-medium: .35s !default;
$transition-speed-slow: .6s !default;

// ----
//  Set default Transitions
// ----
$transition-ease: $swift-ease-in-out !default;
$transition-duration: $transition-speed-fast !default;


/******
    Default DOM Elements Variables
******/

// ----
//  Anchor
// ----
$link-color: $primary !default;
$link-hover-color: $primary-shade !default;
$link-font-weight: $semi-bold !default;


// ----
//  Code & Pre
// ----
$code-color: $text-secondary !default;
$code-background: $cloud-light !default;
$code-font-weight: map-get($google-fonts-weight-map, $font-monospace) !default;
$code-font-size: 1em !default;
$code-padding: .25em .5em !default;
$code-border-radius: $border-radius-small !default;


// ----
//  Dividers
// ----
$hr-color-dark: $cloud-light !default;
$hr-color-light: rgba(0, 0, 0, .15) !default;
$hr-height: 1px !default;
$hr-margin: $spacer !default;


// ----
//  Strong
// ----
$strong-font-weight: $semi-bold !default;


// ----
//  Headers
// ----
$headers-font-weight: $semi-bold !default;
$headers-margin-bottom: .2em !default;

$h1-font-size: 3.5em !default;
$h2-font-size: 2.75em !default;
$h3-font-size: 2em !default;
$h4-font-size: 1.25em !default;
$h5-font-size: 1em !default;
$h6-font-size: .75em !default;
