/// ----
///   Generic Classes
///
///   In this file you could add all generic classes
///   not related directly to some specific element or functionality
/// ----

h1, h2, h3, h4, h5, h6 {
  margin: 2.5em 0 1em;
}

.doc.panel {

  &.solid > .head,
  > .body {
    background-color: $white-shade;
  }

  &.solid > .head {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  > .body {
    border-radius: 0;
  }

}


.document-text {
  margin-bottom: .5em;
  line-height: 1.75;
}
