/// Generate Mapping before importing each mixins
$breakpoints-map: (
  phone: $max-size-for-phone,
  tablet: $max-size-for-tablet,
  desktop: $max-size-for-desktop,
  large-desktop: $max-size-for-large-desktop
);

$container-width-map: (
  phone: $container-width-on-phone,
  tablet: $container-width-on-tablet,
  desktop: $container-width-on-desktop,
  large-desktop: $container-width-on-large-desktop
);


/// Import breakpoint utilities
@import 'breakpoint';
@import 'each-breakpoint';
@import 'hover';
