/**
 * AppBuckets UI
 *
 * _Form @ src/styles/collections/_form.scss
 *
 * Defined at 31 ott 2020
 * Copyright Marco Cavanna • 2020
 *
 * ---
 *
 *
 */


/******
    Base Form Style
******/
.form {
  display: block;
  width: 100%;
  max-width: 100%;


  // ----
  //  Apply Spacing to Field
  // ----
  .field {
    margin-bottom: $form-field-spacer;
    text-align: left;
  }


  // ----
  //  Apply Alignment to Actions
  // ----
  > .form-actions {
    text-align: $form-action-align;
  }
}
