.demo-root {
  padding: 0 .5em;

  > .demo-content {
    border-radius: $border-radius;
    background-color: $white-shade;
    padding: 1.5em;

    > .demo-sandbox-container {
      padding: 1em;
      background-color: $body-background;
      @include smoothShadow(2);
    }
  }
}

.demo-code {
  padding: 1.5em 0;

  .markdown-element > pre {
    margin: 0;
  }
}


/******
    Single Style for Demo
******/
.demo-root > .demo-content > .demo-sandbox-container {

  // ----
  //  Container Demo
  // ----
  &.container-demo {
    padding: 0;

    .container > .content {
      height: 300px;
      background-color: transparentize($primary, .75);
    }
  }

}
