#hero {
  background-color: $text-contrast;
  color: $text;

  .head,
  .body {
    padding: 0;
    margin: 0;
  }

  .head {
    min-height: $navbar-height * 1.75;

    .subheader {
      margin-top: .25em;
      font-weight: $regular;
    }
  }

  .body {
    .fabs {
      right: $layout-horizontal-padding;

      @include on-screen('tablet') {
        right: $layout-horizontal-padding-on-tablet;
      }

      @include on-screen('desktop') {
        right: $layout-horizontal-padding-on-desktop;
      }

      .fab {
        font-size: 1.5em !important;
      }
    }
  }
}
