@use 'sass:math';

/******
    Base Navbar Style
******/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 $layout-horizontal-padding;
  background-color: $navbar-background;
  z-index: 1000;
  @include dpShadow(0);
  transition: box-shadow $transition-ease $transition-duration;

  .navbar-container,
  .navbar-menu,
  .navbar-page-title {
    display: flex;
    align-items: center;
    height: $navbar-height;
  }

  .navbar-content,
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-content {
    flex-grow: 1;
  }

  .navbar-right {
    margin-left: auto;
  }

  .navbar-left {
    height: $navbar-height;
  }

  .navbar-left {
    overflow: hidden;

    > .navbar-menu > .navbar-item:first-child {
      padding-left: 0;
    }
  }

  .navbar-menu,
  .navbar-page-title {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    transition: transform $transition-speed-fast $swift-ease-in-out;
  }

  .navbar-page-title .header {
    margin: 0;
    color: $navbar-link-color;

    .header-content {
      font-size: 1em;
    }
  }
}


/******
    Navbar Item Style
******/
#navbar .navbar-item {
  display: block;
  position: relative;
  height: $navbar-link-height;
  line-height: $navbar-link-height;
  padding: 0 math.div($navbar-link-spacer, 2);
  color: $navbar-link-color;
  font-weight: $semi-bold;

  > .button {
    vertical-align: middle;

    &.active {
      background-color: #637ac8;
    }
  }


  // ----
  //  Pulled Right Item
  // ----
  &.right-item {
    margin-left: auto;

    + .right-item {
      margin-left: 0;
    }
  }


  // ----
  //  Divider
  // ----
  &.divided {
    border-right: solid 1px rgba(255, 255, 255, 0.25);
  }


  // ----
  //  Content Opacity Change
  // ----
  > span {
    opacity: $navbar-link-opacity;
    transition: opacity $transition-ease $transition-duration;
  }

  &:not(.flat) {
    cursor: pointer;

    &.active > span {
      opacity: $navbar-link-active-opacity;
    }

    @include hover {
      &:hover:not(.active) > span {
        opacity: $navbar-link-hover-opacity;
      }
    }
  }
}


/******
    Navbar Logo Style
******/
#navbar .navbar-logo {
  height: $navbar-logo-size;
  width: $navbar-logo-size;
  flex-basis: $navbar-logo-size;
  margin-right: $navbar-logo-spacer;
  text-align: center;

  > svg {
    height: $navbar-logo-size;
    width: $navbar-logo-size;
    fill: $navbar-link-color;

    path {
      opacity: .2;

      &.slice-bottom-right {
        opacity: .4;
      }
    }
  }
}


/******
    Add Shadow when Scrolled
******/
body.scrolled #navbar {
  @include dpShadow(3);
}

body.over-scrolled #navbar {
  .navbar-left {
    .navbar-menu,
    .navbar-page-title {
      transform: translate3d(0, -100%, 0);
    }

    @include hover {
      &:hover {
        .navbar-menu,
        .navbar-page-title {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
