.toc {
  width: $toc-width;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  padding-top: calc(#{$navbar-height} + #{$layout-vertical-padding});
  padding-right: $layout-horizontal-padding;
  overflow-y: scroll;

  > .section {
    font-size: 14px;
  }

  ul {
    > li {
      > a {
        display: block;
        padding: .25em 0 .25em .5em;
        margin: .15em 0;
        color: $cloud;
        border-left-style: solid;
        border-left-color: transparent;
        border-left-width: 3px;
        transition-property: border-left-color, color;
        transition-timing-function: $transition-ease;
        transition-duration: $transition-duration;

        &:hover,
        &.active {
          color: $primary;
          border-left-color: $primary;
        }

        &.secondary {
          padding-left: 1em;
        }

        code {
          color: inherit;
          font-weight: $semi-bold;
          font-size: .85em;
        }
      }
    }
  }
}
